.background-img {
  background-image: url("https://ik.imagekit.io/taelipsvolt/fotologin.jpg?updatedAt=1755037497598");
  height: 100%;
  width: 100%;
  inset: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: absolute;
}