/* ModalCategoria.css */

/* Fundo escuro atrás do modal */
.popup-overlay {
  background: rgba(0, 0, 0, 0.6) !important;
}

/* Corpo do modal */
.popup-content {
  background: transparent !important; /* Cor cinza-escuro */
  color: white; /* Texto branco */
  border:none;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px; /* Largura máxima */
  width: 90%; /* Responsivo */
}
